
.section {
    --bg: #281C17;
    --fg: #fff;
    --primary: #FF6104;
    margin-top: 4rem;
    padding: 4rem 0;
    background: var(--bg);

    .title {
        text-align: center;
        max-width: 80rem;
        font-family: "Cal Sans";
        letter-spacing: 1px;
        font-size: 3rem;
        margin: 0 auto 1rem auto;
        background-color: white;
        /* background: linear-gradient(90deg, var(--fg) 0%, var(--fg) 50%, var(--bg) 100%); */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .container {
        display: flex;
        margin: 0 auto;
        max-width: 80rem;
        padding: 0 4rem;
        margin-top: 3rem;

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: right;
            justify-items: right;
            text-align: right;

            .headline {
                max-width: 80rem;
                font-family: "Cal Sans";
                letter-spacing: 1px;
                font-size: 2rem;
                margin: 0 auto 1rem auto;
                color: #FF6104;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .logo {
                display: inline-block;
                margin-top: 1rem;
            }
        }

        .right {
            flex: 1;
            padding-left: 2rem;

            .image {
                width: auto;
                height: auto;
                max-height: 20rem;
                border-radius: 1rem;
                overflow: hidden;
                border: double 1pt transparent;
                /* This transforms padding + border to a border gradient */
                background-image: none, radial-gradient(ellipse at top, white, #5b2200 80%, var(--bg) 90%);
                background-origin: border-box;
                background-clip: content-box, border-box;
            }

            .caption {
                margin-top: 0.5rem;
                text-align: right;
                font-style: italic;
                opacity: 0.7;
            }
        }
    }
}
