.jumbotron {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 4rem;

    .text {
        display: inline-block;
        flex: 1;
        margin-left: 4rem;
        margin-top: 4rem;

        .heading {
            width: 30rem;
            position: relative;
            margin-bottom: 0.75rem;
            height: 3rem;
            user-select: none;
        }

        .subheading {
            font-size: 2rem;
            font-weight: 100;
            opacity: 0.7;
            width: 30rem;
        }

        .paragraph {
            margin-top: 1.5rem;
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 100;
            width: 500px
        }

        .cta {
            margin-top: 2.75rem;
        }
    }

    .image {
        display: inline-block;
        flex: 1;

        .card {
            width: 55vw;
            max-width: 55rem;
            height: 30rem;
            margin: 8.5rem 0 0 6rem;
            text-align: left;
            position: relative;

            border-width: 1pt;
            border-style: solid;
            border-right: 0pt;
            border-radius: 2rem;
            border-top-right-radius: 0;
            border: double 1pt transparent;
            /* This transforms padding + border to a border gradient */
            background-image:
                radial-gradient(ellipse 90% 70% at 40% top, #49423f, #211f1d 50%, var(--bg)),
                radial-gradient(ellipse at 40% top, white, var(--bg) 70%);
            background-origin: border-box;
            background-clip: content-box, border-box;

            .code {
                position: relative;
                z-index: 0;
                margin: 3rem;
                margin-top: 4rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("/jumbotron-sample-code.svg");
                width: 55vw;
                max-width: 55rem;
                height: 30rem;
            }

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                width: inherit;
                max-width: 55rem;
                height: inherit;
                background: linear-gradient(
                    180deg,
                    transparent 30%,
                    color-mix(in srgb, #160f0ccc, transparent 30%),
                    #160f0c 90%
                );
                top: 0;
                z-index: 5;
                border-radius: inherit;
            }

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                width: inherit;
                max-width: 55rem;
                height: calc(100% + 2rem);
                background: linear-gradient(90deg, transparent 50%, var(--bg));
                top: -2rem;
                border-radius: inherit;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .jumbotron {
        flex-direction: column;
        padding-bottom: 0rem;

        .text {
            text-align: center;
            margin-left: 0;

            .heading {
                height: 3.75rem;
                width: auto;
            }

            .subheading {
                font-size: 2rem;
                width: auto;
                margin-left: 2rem;
                margin-right: 2rem;
                word-spacing: inherit;
            }

            .paragraph {
                width: auto;
                margin-left: 4rem;
                margin-right: 4rem;
            }
        }

        .image .card {
            width: 100vw;
            height: 20rem;
            margin-top: 3rem;
            margin-left: 2rem;

            .code {
                width: 100vw;
                margin: 2rem;
                margin-top: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .jumbotron {
        .text {
            .subheading {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .jumbotron {
        .text {
            .heading {
                height: 3rem;
            }

            .subheading {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin: 0rem;
            }

            .paragraph {
                font-size: 1rem;
                line-height: 1.25rem;
                margin-top: 0.75rem;
                margin-left: 2rem;
                margin-right: 2rem;
            }

            .cta {
                margin: auto;
                margin-top: 1rem;
            }
        }

        .image .card .code {
            margin: 1.5rem;
            margin-top: 2rem;
        }
    }
}
