.container {
    width: 100%;
    max-width: 100rem;
    padding: 0.25rem 4rem;
    padding-top: 2rem;
    display: flex;
    position: relative;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    gap: 4rem;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
        background-image: url("/icons/amber-file.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 3.75rem;
        height: 3.75rem;

        &.amber {
            background-image: url("/icons/amber-file.svg");
        }

        &.bash {
            background-image: url("/icons/bash-file.svg");
        }

        &.terminal {
            background-image: url("/icons/terminal.svg");
        }
    }

    & h1 {
        display: inline-block;
        margin-left: 1.25rem;
        font-size: 2.75rem;
        vertical-align: middle;

        background: linear-gradient(var(--fg), #888);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &.amber {
            background: linear-gradient(90deg, #FFB19488, transparent 50%), linear-gradient(#E5DAD1, #888);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & > * {
        max-width: 28rem;
    }

    .pipeline {
        margin-top: 3rem;
        width: 25rem;
        height: 15rem;
        background-size: cover;

        .write {
            margin: 1rem;
            background-image: url("/pipelines/write.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: calc(100% - 2rem);
            height: 11.5rem;
        }

        .compile {
            margin: 1rem;
            background-image: url("/pipelines/compile.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: calc(100% - 2rem);
            height: 11.5rem;
        }

        .execute {
            margin: 1rem;
            background-image: url("/pipelines/execute.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: calc(50% - 2rem);
            height: 11.5rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        margin-top: 0;
        padding-top: 0;

        .icon {
            width: 3rem;
            height: 3rem;
        }

        .pipeline {
            margin-top: 2rem;
            width: 20rem;
            height: 11rem;

            & > * {
                height: 12.5rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .container {
        padding: 0.25rem 1rem;
        margin-top: 0rem;
        gap: 1rem;

        & > * {
            max-width: unset;
        }

        .icon {
            width: 2.5rem;
            height: 2.5rem;
        }

        & h1 {
            font-size: 1.75rem;
        }

        .pipeline {
            margin-top: 1rem;
            width: calc(100vw - 6rem - 20vw);
            height: 11rem;

            & .write, & .compile, & .execute {
                margin: 0rem;
                max-width: 18rem;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .container {
        padding: 0.25rem 1rem;
        margin-top: 0rem;

        .pipeline {
            margin-top: 1rem;
            width: calc(100vw - 5rem - 20vw);
            height: 7rem;

            & > * {
                height: 10.5rem;
            }

            & .write, & .compile, & .execute {
                margin: 0rem;
                height: 5.5rem;
                max-width: 20rem;
            }
        }
    }
}
