.button {
    appearance: none;
    color: white;
    border: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    background-color: transparent;
    transition: background-color 100ms;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
        background-color: #1d1613;
    }
}

.unstyled {
    appearance: none;
    background: transparent;
    border: transparent;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .button {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }
}
