.container {
    margin-top: 4rem;
    height: calc(100vh - 10rem);
    max-height: calc(60rem - 10rem);
    background: radial-gradient(ellipse 50% 35% at bottom, #D5441C33, var(--bg));
    text-align: center;

    .title {
        text-align: center;
        padding-top: min(30vh, 20rem);
        padding-bottom: min(10vh, 6rem);

        & h1 {
            display: inline-block;
            font-family: "Cal Sans";
            font-size: 5rem;
            letter-spacing: 1px;
            background:
                linear-gradient(90deg, var(--bg) -10%, #D6D6D6 30%, #FFDDCF 80%, var(--bg) 105%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 10s infinite;
        }
    }

    & > * {
        margin: auto;
    }
}

.footer {
    height: 10rem;
    background: radial-gradient(ellipse 50% 35% at top, #D5441C18, var(--bg));
    line-height: 10rem;
    color: #4F321F;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 720px) {
    .container {
        .title h1 {
            font-size: 3rem;
        }

        .caption h1 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 420px) {
    .container .title h1 {
        font-size: 2.5rem;
    }
}
