.container {
    margin-top: 4rem;
    height: calc(100vh - 10rem);
    background: radial-gradient(ellipse 50% 35% at bottom, #D5441C33, var(--bg));

    .title {
        text-align: center;
        padding-top: 30vh;
        padding-bottom: 10vh;

        & h1 {
            display: inline-block;
            font-family: "Cal Sans";
            font-size: 5rem;
            letter-spacing: 1px;
            background:
                linear-gradient(90deg, var(--bg) -10%, #D6D6D6 30%, #FFDDCF 80%, var(--bg) 105%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 10s infinite;
        }
    }

    & > * {
        margin: auto;
    }
}

.footer {
    height: 10rem;
    background: radial-gradient(ellipse 50% 35% at top, #D5441C18, var(--bg));
    line-height: 10rem;
    color: #4F321F;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
}
