.nav {
    padding-top: 1rem;
    padding-left: 1rem;
    user-select: none;
    cursor: default;

    .logo {
        display: inline-block;
        position: relative;
        object-fit: cover;
        width: 48px;
        height: 48px;
        vertical-align: middle;
    }

    .logo-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.75rem;
        margin-top: -0.5rem;
        margin-left: 0.5rem;
        font-family: "Cal Sans";
        letter-spacing: 1px;
    }

    .right-nav {
        display: inline-block;
        position: absolute;
        vertical-align: middle;
        right: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .nav {
        .logo {
            width: 32px;
            height: 32px;
        }

        .logo-title {
            font-size: 1.5rem;
        }
    }
}
