.nav {
    padding-top: 1rem;
    padding-left: 1rem;
    user-select: none;
    cursor: default;

    .logo {
        display: inline-block;
        position: relative;
        object-fit: cover;
        width: 48px;
        height: 48px;
        vertical-align: middle;
    }

    .logo-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.75rem;
        margin-top: -0.5rem;
        margin-left: 0.5rem;
        font-family: "Cal Sans";
        letter-spacing: 1px;
    }

    .right-nav {
        display: inline-block;
        position: absolute;
        vertical-align: middle;
        right: 1rem;
    }

    .discord {
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 2rem;
            width: calc(100% - 3rem);
            border-radius: 999px;
            height: 2pt;
            background: linear-gradient(90deg, #cb3a2a, #e67117);
            opacity: 1;
            transition: 200ms transform;
            transform: scaleX(0.8) scaleY(1);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            pointer-events: none;
        }

        &:hover::after {
            transform: scaleX(1) scaleY(2);
        }
    }
}

@media screen and (max-width: 800px) {
    .nav {
        .logo {
            width: 32px;
            height: 32px;
        }

        .logo-title {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .nav {
        .discord {
            display: none;
        }
    }
}
